$color: #0f45f0;

.message {
	color: $color;
}

.test {
	color: $color;
}

// Autoprefixing test - should apply prefixes
::placeholder {
	color: gray;
}

a {
    -webkit-border-radius: 5px;
	border-radius: 5px;
}